body {
  background-color: #E66A8C;
  color: white;
  text-align: center;
  font-family: Moonbold, sans-serif;
  padding-top: 0.5rem;
}

.button {
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid white;
  font-family: Moonlight;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button:hover {
  color: #E66A8C;
  background-color: white;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}

.inputContainer {
  position: relative;
}

.title{
  margin-bottom: 0.5rem;
}

.weatherDescription {
margin-bottom: 0.5rem;
}

.weatherImage {
  width: 10rem;
  margin-bottom: 0.5rem;
}

.weatherMain {
  font-size: 2rem;
}

.weatherHumidity {
  font-size: 2rem;
}

.weatherTemperature {
  font-size: 2rem;
}
